@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  max-width: 1200px;
  margin: 40px auto;
  display: flex;
  justify-content: center;
}

.App {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  padding: 25px;
  border-radius: 20px;
  width: 700px;
}

h2 {
  text-align: center;
}

.annotation-tasks {
  margin: 40px 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.task-input {
  border: none;
  outline: none;
  padding: 10px 20px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  flex: 1;
  font-family: inherit;
  font-size: 17px;
  color: #555;
}

.button-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 1rem;
}

.button {
  border: none;
  background: #3498db;
  color: #fff;
  padding: 5px 40px;
  border-radius: 20px;
  font-family: inherit;
  cursor: pointer;
  font-size: 17px;
  margin-right: 40px;
}

.button:hover {
  background: #207bb5; 
}

.clear-all {
  border: none;
  background: #e74c3c;
  color: #fff;
  padding: 5px 40px;
  border-radius: 20px;
  font-family: inherit;
  cursor: pointer;
  font-size: 17px;
}

.clear-all:hover {
  background: #c0392b;
}

.item-task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.item-task-completed {
  text-decoration: line-through;
}
.edit-button {
    margin-right: 10px; 
  }
  
  .task-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* gap: 20px; */
  }
  
  /* .edit-button {
    margin-right: 20px; 
  } */
  
  