@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f4f4f4; /* Fondo más claro */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.App {
  background: #fff; /* Fondo blanco */
  margin-top: 5rem;
  padding: 2rem;
  border-radius: 10px; /* Bordes redondeados */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

h2 {
  color: #333; /* Texto más oscuro */
  margin-bottom: 0.5rem;
  font-size: 1.75rem;
}

ul {
  border: 1px solid #ddd; /* Borde más suave */
  padding: 0.1rem 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 300px;
  color: #333; /* Texto más oscuro */
  list-style: none;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f9f9f9; /* Fondo más claro */
  color: #333; /* Texto más oscuro */
  padding: 0.1rem 1rem;
  border-radius: 5px;
  margin-bottom: 0.1rem;
  cursor: pointer;
}

.completed-task {
  background: #d9fada; /* Verde más suave para tareas completadas */
  text-decoration: line-through; /* Añade un tachado para las tareas completadas */
}

.tarea-input {
  outline: none;
  background: none;
  border: 1px solid #ddd; /* Borde más suave */
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  width: 300px;
  color: #333; /* Texto más oscuro */
}

.tarea-input::placeholder {
  color: #999; /* Texto de marcador de posición más suave */
}

.tarea-btn {
  background: #3498db; /* Azul claro */
  color: #fff;
  border: none;
  padding: 0.55rem;
  cursor: pointer;
  border-radius: 5px; /* Bordes redondeados */
  margin-left: 0.5rem;
  transition: background 0.3s ease; /* Transición de color al pasar el ratón */
}

.tarea-btn:hover {
  background: #207bb5; /* Cambio de color al pasar el ratón */
}

.clear-all-btn {
  background: #e74c3c; /* Rojo claro para el botón de eliminar todo */
  color: #fff;
  border: none;
  padding: 0.55rem;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 1rem;
  transition: background 0.3s ease;
}

.clear-all-btn:hover {
  background: #c0392b;
}

