@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  max-width: 1200px;
  margin: 40px auto;
  display: flex;
  justify-content: center;
}

.App {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  padding: 25px;
  border-radius: 20px;
  width: 700px;
}

h2 {
  text-align: center;
}

.counter-todos,
.add-task {
  margin: 20px 0;
}

.counter-todos,
.add-task,
.task-list {
  padding: 15px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}

.counter-todos h3,
.add-task h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.counter-todos span,
.add-task span {
  font-weight: bold;
}

.add-task h3,
.add-task button {
  font-size: 16px;
}

.add-task input {
  border: none;
  outline: none;
  padding: 10px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  width: 100%;
  margin-bottom: 10px;
  font-family: inherit;
  font-size: 16px;
  color: #555;
}

.boton {
  border: none;
  background: #3498db;
  color: #fff;
  padding: 10px 20px;
  border-radius: 10px;
  font-family: inherit;
  cursor: pointer;
  font-size: 16px;
}

.boton:hover {
  background: #207bb5;
}

.text-decoration-dashed {
  text-decoration: line-through;
}

